body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
ul{
    padding: 0px!important;
}
.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px;
}
main, .content{
    margin: 0 auto;
    max-width: 980px;
    position: relative;
}
.logo{
    float: left;
    padding: 16px;
    width: 75%;
}
.redes-sociais ul li{
    margin-left: 23px;
    display: inline-block;
    float: left;
    list-style: none;
}
.redes-sociais{
    width: 20%;
    float: right;
}
.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 15px;
}
.menu-urls{
    background-color: white;
    height: 84px;
    border-bottom: 3px solid #252323;
}
.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 20px;
    height: 49px;
}
.menu ul li:hover{
    border-bottom: 3px solid #00bac6;
}
.menu ul li a:hover{
    color: #00bac6;
   
}
.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}
.menu{
    width: 70%;
    float: left;
}
.busca{
    text-align: center;
    width: 30%;
    float: right;
}
.busca input {
    background-image: url('../img/icone-search.png');
    background-repeat: no-repeat;
    height: 36px;
    width: 190px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid #d6d6d6;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.slick-slider{
    width: 100%;
    position: relative;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 35%;
    transform: translateY(50%);
    left: 14%;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 35%;
    transform: translateY(50%);
    right: 14%;
}
.slick-list{
    width: 100%!important;
}
.slick-initialized{
    overflow: hidden;
}
.slick-dots li button{
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots{
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);

}
.slick-dots li{
    display: inline-block;
}
li.slick-active button{
    background-color: #00bac6;
}
.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}
.texto-destaque{
    text-align: center;
}
.texto-destaque h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #818181;
}
.texto-destaque strong{
    color: #646464;
}
.texto-destaque p{
    font-size: 15px;
    color: #9a9a9a;
}
.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; 
    width: 29%;
    float: left;
    position: relative;
}
.bloco-texto{
    margin-top: 3em;
}
.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.bloco-imagem {
    height: 300px;
    border: 1px solid #9e9e9e;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.bloco-imagem b, p {
    text-align: left;
}
.bloco-texto {
    margin-top: 3em;
}

h3 {
    font-weight: normal!important;
}
.col-100 .bloco-imagens-texto{
    margin-left: 18%; float: left;
}
.bloco-imagens-texto {
    background-color: #eeeeee;
}
.bloco-imagens-texto::before{
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background:white;
    background-image:url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}
.bloco-imagens-texto::after{
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background:#eeeeee;
}
.bloco-imagens-texto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1080px;
}

/* .col-4{
    float: left;
    width: 25%;
    text-align: center;
}
.col-4 img{
    cursor: pointer;
    margin: 0 auto;
    padding-top: 1em;
    vertical-align: middle;
}
.col-4 img:hover{
    margin-top: 10px!important;
    position: relative!important;
} */

.bloco-logos{
    height: 170px;
}

.bloco-logos .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bloco-logos .content > div{
    width: 235px;
    background-color: #f3f3f3;
    height: 150px;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
}

.footer{
    background-image: url('../img/footer.png');
    color: #ffffff;
}
.footer h3{
    text-align: left;
}
.footer p{
    width: 90%;
    text-align: left;
}
.clock:before{
    content:'';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url('../img/clock.png');
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
    
}
.clock{
    color: #898989;
}
.local:before,.emailico::before,.telefoneico::before{
    content:'';
    width: 18px;
    height: 28px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}
.local:before{
    background-image: url('../img/local.png');
    background-repeat: no-repeat;
}
.emailico::before{
    background-image: url('../img/email.png');
    background-repeat: no-repeat;
}.telefoneico::before{
    background-image: url('../img/telefoneico.png');
    background-repeat: no-repeat;
}
.footer-2{
    background-image: url('../img/footer2.png');
}
.footer-2 .content{
    display: flex;
}
.footer-2 p{
    margin-top: 16px;
    padding-top: 5px;
    color: #ffffff;
    margin-right: 0px;
    height: 18px;
    width: 595px;
}
.redes-sociais2 ul li{
    margin-left: 20px;
    display: inline-block;
    float: left;
    list-style: none;
}
.redes-sociais2{
    width: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 120px;
    float: right;
}



/* Responsivo Breapoint 980px */
@media(max-width: 980px){
    .bloco-logos .content > div{
        width: 200px;
    }

    main, .content {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        margin: 0 16px;
    }
    
}

/* Responsivo Breapoint 600px */
@media(max-width: 600px){
    .bloco-logos .content > div{
        width: 200px;
        margin-bottom: 16px;
    }

    .bloco-logos .content {
        justify-content: space-around;
    }
    
}
